<div class="card my-5">
    <div class="card-body">
      <h2>{{ title }}</h2>
      <table class="table table-bordered table-striped table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Vacation home name</th>
            <th scope="col">Vacation home Location</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Duration</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Cancel</th>
          </tr>
        <tbody>
          <tr *ngFor="let reservationHistory of vacationHomeReservations">
            <td>{{ reservationHistory.id }}</td>
            <td>{{ reservationHistory.vacationHomeName }}</td>
            <td>{{ reservationHistory.vacationHomeLocation }}</td>
            <td>{{ reservationHistory.startDate | date }}</td>
            <td>{{ reservationHistory.endDate | date}}</td>
            <td>{{ reservationHistory.duration }}</td>
            <td>{{ reservationHistory.price }}</td>
            <td>{{ reservationHistory.status }}</td>
            <td><button *ngIf="reservationHistory.canCancel && reservationHistory.status == 'NEW'" (click) = "cancelVacationHomeReservation(reservationHistory.id)">Cancel</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
