<div class="card my-5">
    <div class="card-body">
        <h2>{{ title1 }}</h2>
        <table class="table table-bordered table-striped table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Promotion description</th>
                    <th scope="col">Promotion start</th>
                    <th scope="col">Promotion end</th>
                    <th scope="col">Promotion adventure</th>
                    <th scope="col">Cancel</th>
                </tr>
            <tbody>
                <tr *ngFor="let promotion of adventurePromotions | search:terms" id="promotion">
                    <td>{{ promotion.id }}</td>
                    <td>{{ promotion.description }}</td>
                    <td>{{ promotion.startPromo| date }}</td>
                    <td>{{ promotion.endPromo| date }}</td>
                    <td>{{ promotion.adventurePromotion.adventureName }}</td>
                    <td><button (click)="cancelPromotion(promotion.id)">Cancel</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-body">
        <h2>{{ title2 }}</h2>
        <table class="table table-bordered table-striped table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Promotion description</th>
                    <th scope="col">Promotion start</th>
                    <th scope="col">Promotion end</th>
                    <th scope="col">Promotion boat</th>
                    <th scope="col">Number of promotions</th>
                    <th scope="col">Cancel</th>
                </tr>
            <tbody>
                <tr *ngFor="let promotion of boatPromotions | search:terms" id="promotion">
                    <td>{{ promotion.id }}</td>
                    <td>{{ promotion.description }}</td>
                    <td>{{ promotion.startPromo| date }}</td>
                    <td>{{ promotion.endPromo| date }}</td>
                    <td>{{ promotion.boatPromotion.boatName }}</td>
                    <td>{{ promotion.numberOfPromotions }}</td>
                    <td><button (click)="cancelBoatPromotion(promotion.boatPromotion.id)">Cancel</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>