<div class="card my-5">
    <div class="card-body">
        <h2>{{ title }}</h2>
        <div *ngIf="isUser">
            <label>Adventure id:</label>
            <input type="text" [(ngModel)]="adventureReservationRequest.adventureId" [ngStyle]="{marginLeft: '10px'}">
            <label>Start date:</label>
            <input type="date" [(ngModel)]="adventureReservationRequest.startDate" [ngStyle]="{marginLeft: '10px'}">
            <label [ngStyle]="{marginLeft: '10px'}">End date:</label>
            <input type="date" [(ngModel)]="adventureReservationRequest.endDate" [ngStyle]="{marginLeft: '10px'}">
            <button (click)="searchForFreeAdventures()" [ngStyle]="{marginLeft: '10px'}">Search</button>
        </div>

        <table class="table table-bordered table-striped table-sm row-border hover" datatable [dtOptions]="dtOptions1"
            [dtTrigger]="dtTrigger1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Adventure name</th>
                    <th scope="col">Adventure location</th>
                    <th scope="col">Adventure description</th>
                    <th scope="col">Adventure price</th>
                    <th scope="col">Adventure review</th>
                    <th scope="col">Tutor</th>
                    <th scope="col">Details</th>
                    <th *ngIf="isUser" scope="col">Choose the adventure</th>
                </tr>
            <tbody>
                <tr *ngFor="let adventure of adventures | search:terms" id="adventure">
                    <td>{{ adventure.id }}</td>
                    <td>{{ adventure.adventureName }}</td>
                    <td>{{ adventure.adventureAddress }}</td>
                    <td>{{ adventure.adventureDescription }}</td>
                    <td>{{ adventure.adventurePrice }}</td>
                    <td>{{ adventure.adventureReview }}</td>
                    <td>{{ adventure.adventureTutor.firstName + ' ' + adventure.adventureTutor.lastName}}</td>
                    <td><button (click)="details(adventure.id)">Details</button></td>
                    <td *ngIf="isUser"><button (click)="chooseTheAdventure(adventureReservationRequest)">Choose</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-body" *ngIf="isUser">
        <h2> My subscribed adventures </h2>
        <table class="table table-bordered table-striped table-sm row-border hover" datatable [dtOptions]="dtOptions1"
            [dtTrigger]="dtTrigger2">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Adventure name</th>
                    <th scope="col">Adventure location</th>
                    <th scope="col">Adventure description</th>
                    <th scope="col">Adventure price</th>
                    <th scope="col">Adventure review</th>
                    <th scope="col">Tutor</th>
                    <th scope="col">Details</th>
                </tr>
            <tbody>
                <tr *ngFor="let adventureSubscribed of adventuresSubscribed | search:terms" id="adventureSubscribed">
                    <td>{{ adventureSubscribed.id }}</td>
                    <td>{{ adventureSubscribed.adventureName }}</td>
                    <td>{{ adventureSubscribed.adventureAddress }}</td>
                    <td>{{ adventureSubscribed.adventureDescription }}</td>
                    <td>{{ adventureSubscribed.adventurePrice }}</td>
                    <td>{{ adventureSubscribed.adventureReview }}</td>
                    <td>{{ adventureSubscribed.adventureTutor.firstName + ' ' +
                        adventureSubscribed.adventureTutor.lastName}}</td>
                    <td><button (click)="cancelSubscription(adventureSubscribed.id)">Cancel</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>