  
<div class="card my-5">
    <div class="card-body">
      <h2>Requests</h2>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id of user</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Reason to delete the account</th>
            <th scope="col">Approve</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button>OK</button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>