  
<div class="card my-5">
    <div class="card-body">
      <h2>{{title}}</h2>
      <table class="table table-bordered table-striped table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Reason to delete the account</th>
            <th scope="col">Approve</th>
            <th scope="col">Decline</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let deleteRequest of accountsForDelete | search:terms" id="boat">
            <td>{{ deleteRequest.id }}</td>
            <td>{{ deleteRequest.user.firstName}}</td>
            <td>{{ deleteRequest.user.lastName }}</td>
            <td>{{ deleteRequest.reason }}</td>
            <td>
              <div class="col">
                <div>
                  <textarea id="confirmReason"></textarea>
                </div>
                <div class="buttonContainer">
                <button (click)="confirmRequest(deleteRequest.id,  deleteRequest.reason)" >Confirm</button>
                </div>
              </div>
            </td>
            <td><div class="col">
              <div>
                <textarea id="declineReason"></textarea>
              </div>
              <div class="buttonContainer">
              <button (click)="declineRequest(deleteRequest.id, deleteRequest.reason)">Decline</button>
              </div>
            </div></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>