    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card bg-dark my-5">
            <div class="card-body">
              <div>
              <div>
                <app-vacation-home-history></app-vacation-home-history>
              </div>
              <div>
                <app-boat-history></app-boat-history>
              </div>
              <div>
                <app-adventure-history></app-adventure-history>
              </div>
            </div>
            </div>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
